:root {
    --main-canvas-height:90vh;
    --main-canvas-width:100vw;
    --main-canvas-bg:white;

    --default-green:rgb(78, 144, 78);
    --default-red:rgb(132, 65, 65);
    --default-blue:rgb(99, 99, 151);
}

body {
    position:relative;
}

#main-canvas {
    width: var(--main-canvas-width);
    height: var(--main-canvas-height);
    background-color: var(--main-canvas-bg);
    outline:0.5px solid black;
}

.bob {
    border-radius: 50%;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bob:hover {
    opacity: 80%;
    cursor: pointer;
}

#default {
    background-color: black;
    color:white;
}

#green-line {
    background-color: var(--default-green);
    color:white;
}

#blue-line {
    background-color: var(--default-blue);   
    color:white;
}

#red-line {
    background-color: var(--default-red);   
    color:white;
}


#thick-stroke {
    background-color: rgb(131, 123, 123);
    color:white;
}
#thin-stroke {
    background-color: rgb(131, 123, 123);
    color:white;
}

#undo-button {
    background-color: rgb(131, 123, 123);
    color:white
}